<div class="card mb-4 mt-4">
    <div class="card-body">
        <form [formGroup]="productForm" (ngSubmit)="onProductadd()">
            <div class="form-group">
                <label for="pname">
                    product name
                </label>
                <input type="text" formControlName="pname" id="pname" class="form-control">
            </div>
            <div class="form-group">
                <label for="pdetails">
                    product Description
                </label>
                <textarea rows="4" formControlName="pdetails" id="pname" class="form-control">
            ></textarea>
                </div>
            <button mat-raised-button color="primary" >Add product</button>
            
        </form>
    </div>
</div>
