
<!-- <div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <app-product-dash-board></app-product-dash-board>
    </div>
  </div>
</div> -->


<div class="container mt-4">
  <!-- <div class="row">
    <div class="col-md-6">
      <app-todo-form></app-todo-form>
    </div>
    <div class="col-md-6">
      <app-todo-list></app-todo-list>
    </div>
  </div>  -->
  <div class="row">
    <div class="col-4" *ngFor="let like of reelsArr">
      <div class="card">
        <div class="card-header">
            {{like.title}}
        </div>
        <div class="card-body">
          <p>Like count : {{like.likeCount}}</p>
          <p>
            <app-like 
            (emmitLikeStatus)="getLikeStatus($event, like.id)"
            [isLike]="like.isLike"
            (emmitDislikeStatus)="getDislikeStatus($event, like.id)"
            [isDislike]="like.isLike"
            ></app-like>
          </p>
        </div>
        
      </div>
    </div>
  </div>
</div>